@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

body {
  background-image: url('/assets/pen2.png');
  background-size: cover;
}

#description {
  background-color: rgba(255 , 255, 255, .2);
}

/********************* LOGO **********************/
#logo {
  padding-top: 2%;
  width: 25%;
}

#logolink{
  height: 45px;
}

#logoimg{
  width: 45px;
  height: 45px;
}

#homeLogo{
  width: 60%;
}

.top-bar.ng-scope{
  background-color: white;
  height: 55px;
}

.top-bar-section ul li > a {
  padding-top: 5%;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 120%;
}

.top-bar-section li:not(.has-form) a:not(.button){
  background-color: white;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: gray;
}

textarea{
  height: 200px;
}
#homeList ul li > a{
  text-decoration: none;
  display: inline-block;
  color: black;
}

p li > a{
  text-decoration: none;
  display: inline-block;
  color: black;
}

#writers{
  width: 100%;

  thead tr{
    th:nth-child(1){
      width: 8%;
    }
    th:nth-child(2){
      width: 30%;
    }
    th:nth-child(3){
      width: 40%;
    }
    th:nth-child(4){
      width: 30%;
    }
    th:nth-child(5){
      width:5%;
    }
  }

  img{
    width: 20px;
    height: 20px;
  }

}


#publishers{
  width: 100%;

  thead tr{
    th:nth-child(1){
      width: 5%;
    }
    th:nth-child(2){
      width: 40%;
    }
    th:nth-child(3){
      width: 40%;
    }
    th:nth-child(4){
      width: 15%;
    }
  }

  img{
    width: 20px;
    height: 20px;
  }
}

//ul > li {
  //text-decoration: none;
  //display: inline-block;
  //padding-right: 10%;
//}

.labels {
  font-size: 120%;
  font-color: black;
}
