body {
  background-image: url('/assets/pen.png');
  background-size: cover;
}

#description {
  background-color: rgba(255 , 255, 255, .2);
}

#logolink{
  height: 45px;
}

#logoimg{
  width: 45px;
  height: 45px;
}

textarea{
  height: 200px;
}

#writers{
  width: 100%;

  thead tr{
    th:nth-child(1){
      width: 8%;
    }
    th:nth-child(2){
      width: 30%;
    }
    th:nth-child(3){
      width: 40%;
    }
    th:nth-child(4){
      width: 30%;
    }
    th:nth-child(5){
      width:5%;
    }
  }

  img{
    width: 20px;
    height: 20px;
  }

}


#publishers{
  width: 100%;

  thead tr{
    th:nth-child(1){
      width: 5%;
    }
    th:nth-child(2){
      width: 40%;
    }
    th:nth-child(3){
      width: 40%;
    }
    th:nth-child(4){
      width: 15%;
    }
  }

  img{
    width: 20px;
    height: 20px;
  }
}

//ul > li {
  //text-decoration: none;
  //display: inline-block;
  //padding-right: 10%;
//}

.labels {
  font-size: 120%;
  font-color: black;
}
