#logolink{
  height: 45px;
}

#logoimg{
  width: 45px;
  height: 45px;
}

textarea{
  height: 200px;
}

#writers{
  width: 100%;

  thead tr{
    th:nth-child(1){
      width: 10%;
    }
    th:nth-child(2){
      width: 70%;
    }
    th:nth-child(3){
      width: 20%;
    }
  }

  img{
    width: 20px;
    height: 20px;
  }

}


#publishers{
  width: 100%;

  thead tr{
    th:nth-child(1){
      width: 10%;
    }
    th:nth-child(2){
      width: 70%;
    }
    th:nth-child(3){
      width: 20%;
    }
  }

  img{
    width: 20px;
    height: 20px;
  }

}
