.row
  .small-12.columns
    //h3#companyNAME {{rootuser.username}} Songs
    h3#companyNAME {{song.writerName}} Songs
    table#songsList
      thead
        tr
          th Title
          th Date of Creation
          th Writer(s) Name
          th Percents
          th PRO
      tbody
        tr(ng-repeat='song in songs')
          td: a(ui-sref='songs.detail({songId:song.songID})') {{song.title | uppercase}}
          td {{song.doc[0] | date : 'mediumDate'}}
          td
            a(ng-repeat='id in song.writerID', ui-sref='writers.one({writerId:id})') {{song.writerName[$index] | uppercase}}{{$last ? '' : ', '}}
          td {{song.percent.join(', ')}}
          td {{song.pro.join(', ')}}
