//img(ng-src='/assets/rolCard.png')
.row.panel
  .small-9.columns
    //img#card(ng-src='/assets/rolCard.png')
    h1 {{writer.name}}
  .small-3.columns
    ul.side-nav.right
      li
        a(href='#') Edit Writer
        |   
      li
        a(href='#') Delete Writer

  .row
    .small-6.columns
      h4 Phone
      h6.subheader {{writer.phone}}
    .small-6.columns
      h4 PRO
      h6.subheader {{writer.pro}}
