.row.panel
  .small-9.columns
    //img#card(ng-src='/assets/rolCard.png')
    h1 {{writer.name}}
    h6.subheader Last Updated: {{writer.updated_at | date: mediumDate}}
  .small-3.columns
    ul.side-nav.right
      li
        a(href='', ng-click='showModal(\'#myModal\')') Edit Writer
        #myModal.reveal-modal(data-reveal='')
          h2 COMING SOON!
          |   
          p.lead This feature is still in the works but will be rolled out soon!
          |   
          p Thank you for your understanding!
          |   
          a.close-reveal-modal &times;   
      li
        a(ng-click='nuke(writer.id)') Delete Writer

  .row
    .small-6.columns
      h4 Phone
      h6.subheader {{writer.phone}}
    .small-6.columns
      h4 PRO
      h6.subheader {{writer.pro}}
