.row.panel
  .small-8.small-offset-1.columns
    h1#publisherName {{publisher.name}}
    h6.subheader.songDetail Last Updated: {{publisher.updated_at | date: mediumDate}}
    h4.songDetail Address:
    h6 {{publisher.address}}
    h4.songDetail Phone:
    h6 {{publisher.phone}}
  .small-3.columns
    ul.side-nav.right
      li
        a(href='', ng-click='showModal(\'#myModal\')') Edit Publisher
        //data-reveal-id='myModal') Edit Song
        #myModal.reveal-modal(data-reveal='')
          h2 COMING SOON!
          |   
          p.lead This feature is still in the works but will be rolled out soon!
          |   
          p Thank you for your understanding!
          |   
          a.close-reveal-modal &times;    
      li
        a(ng-click='nuke(publisher.id)') Delete Publisher
