form
  .row
    .small-12.columns
      h2 Create A Song
  .row
    .small-9.columns
      label.labels Title
      input(type='text', ng-model='song.title', placeholder='title of song')
    .small-3.columns
      label.labels Date of Creation
      input(type='date', ng-model='song.doc')
  .row
    .small-6.columns
      label.labels Select Writer(s)
    .small-4.columns
      label.labels Writer's Percent
    .small-2.columns
      label.labels 
  .row
    .small-6.columns
      select(name='writer', ng-model='writer', ng-options='w as w.name for w in writers | orderBy:"name"', required)
        option(value='') Select Writer
    .small-4.columns
      input(type='text', ng-model='percentage', placeholder='percentage')       
    .small-2.columns
      button.small.radius.info(ng-click='addWriter()') Add Writer
  .row
    .small-12.columns
      table#addWriters
        tr(ng-repeat='w in song.writers')
          td {{w.name}}
          td {{w.pubName}}
          td {{w.percentage}}
          td {{w.pro}}
  .row
    .small-12.columns
      button.button.expand.success(ng-click='create(song)') Submit Song
