.row.panel(ng-show='song.title')
  .small-8.columns
    h1#songTitle {{song.title}}
    h4.songDetail D.O.C
    h5 {{song.doc[0] | date : 'longDate'}}
  .small-4.columns
    ul.side-nav.right
      li
        a(href='', ng-click='showModal(\'#myModal\')') Edit Song
          #myModal.reveal-modal(data-reveal='')
            h2 COMING SOON!
            |   
            p.lead This feature is still in the works but will be rolled out soon!
            |   
            p Thank you for your understanding!
            |   
            a.close-reveal-modal &times; 
      li
        a(ng-click='nuke(song.songID)') Delete Song
            
  .row.Names
    .small-6.columns
      h4.songDetail Writer(s):
      h5 {{song.writerName.join(', ')}}
      h4.songDetail Publisher(s):
      h5 {{song.pubName.join(', ')}}
    .small-6.columns
      h4.songDetail Percentages:
      h5 {{song.percent.join(', ')}}
      h4.songDetail PRO
      h5 {{song.pro.join(', ')}}
