.row
  .small-8.columns
    h1 {{song.title}}
    h4 DOC
    | {{song.doc[0] | date : 'mediumDate'}}
  .small-4.columns
    ul.side-nav.right
      li
        a(href='', ng-click='showModal(\'#songModal\')') Edit Song
        #myModal.reveal-modal(data-reveal='')
          h2 Awesome. I have it.
          |   
          p.lead Your couch.  It is mine.
          |   
          p I&apos;m a cool paragraph that lives inside of an even cooler modal. Wins!
          |   
          a.close-reveal-modal &times;  
      li
        a(ng-click='nuke(song.songID)') Delete Song
            
.row
  .small-6.columns
    h4 Writer(s)
    h6.subheader {{song.writerName.join(', ')}}
    h4 Publisher(s)
    h6.subheader {{song.pubName.join(', ')}}
  .small-6.columns
    h4 Percentages
    h6.subheader {{song.percent.join(', ')}}
    h4 PRO
    h6.subheader {{song.pro.join(', ')}}

include song_modal
