.row
  .small-12.columns
    h3#companyNAME {{rootuser.username}} Songs
.row
  .small-1.columns
    h6 Search:
  .small-11.columns
    input#searchInput(type='text', ng-model='search.title', placeholder='search by song title')
.row
  .small-12.columns
    table#songsList
      thead
        tr
          th Title
          th D.O.C.
          //th Date of Creation
          th Writer(s) Name
          th Percents
          th P.R.O.
      tbody
        tr(ng-repeat='song in songs | filter: search')
          td: a(ui-sref='songs.detail({songId:song.songID})') {{song.title | uppercase}}
          td {{song.doc[0] | date : 'mediumDate'}}
          td
            a(ng-repeat='id in song.writerID', ui-sref='writers.one({writerId:id})') {{song.writerName[$index] | uppercase}}{{$last ? '' : ', '}}
          td {{song.percent.join(', ')}}
          td {{song.pro.join(', ')}}
