.row
  .small-12.columns
    h3 Query of The Songs
    table#songsList
      thead
        tr
          th Delete
          th Title
          th Date of Creation
          th Writer(s) Name
          th Percents
          th PRO
      tbody
        tr(ng-repeat='song in songs')
          td
            a(ng-click='nuke(song)')
              img(ng-src='/assets/delete.png')
          td: a(ui-sref='p.detail({publisherId:publisher.publisher_id})') {{song.title}}
          td {{song.doc[0] | date : 'mediumDate'}}
          td
            span.writersNames(ng-repeat='writer in song.writerName') 
              {{writer}}
          td 
            span.writersPercentages(ng-repeat='percent in song.percents')
              {{percent}}
          td 
            span.writersPRO(ng-repeat='p in song.PRO')
              {{p}}
